# Server configuration
VIARTICLES_IS_DEBUG=true
VIARTICLES_ADDRESS=:8080

# PostgreSQL configuration
VIARTICLES_POSTGRES_HOST=localhost
VIARTICLES_POSTGRES_PORT=5432
VIARTICLES_POSTGRES_USERNAME=pgadmin
VIARTICLES_POSTGRES_PASSWORD=123admin
VIARTICLES_POSTGRES_DATABASE=viarticles
VIARTICLES_POSTGRES_SSL_MODE=disable
VIARTICLES_POSTGRES_SSL_CERT_PATH=
VIARTICLES_POSTGRES_NEED_MIGRATE=true

# VK API configuration (get token from https://vk.com/dev)
VIARTICLES_VK_ACCESS_TOKEN=your_vk_token

# Telegram Bot API configuration (get token from @BotFather)
VIARTICLES_TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# Habr configuration (get session cookie from browser)
VIARTICLES_HABR_AUTH_TOKEN=your_habr_session
